<section class="cart-show">

  <header class="page-header">
    
    <% # formatting could be improved -> and should be using a helper here? %>
    <% # https://medium.com/@heyamberwilkie/model-helpers-in-rails-concerns-6f5db8d0a59e %>
    <% cart_count = 0 %>
  
    <% enhanced_cart.each do |item| %>
    <% cart_count += item[:quantity].to_i %>
    <% end %>
  
    <% if cart_count < 1 %>
      <h2>
        Your cart is Empty!
      </h2>
      <a class="btn btn-home page" href="/">Return to Homepage</a>

    <% else %>
  
        <h1>My Cart</h1>
        </header>

        <div class="panel panel-default items">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2">Product</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <% enhanced_cart.each do |item| %>
                <%= render 'item', product: item[:product], quantity: item[:quantity].to_i %>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="4">
                  TOTAL:
                </th>
                <th>
                  <%= cart_subtotal_cents / 100.0 %>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <%= form_tag orders_path do %>
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-amount="<%= cart_subtotal_cents %>"
                data-name="Jungle"
                data-description="Khurram Virani's Jungle Order"
                data-locale="auto"
                data-email="kvirani@gmail.com"
                data-currency="cad">
              </script>
            <% end %>
          </div>
        </div>

      </section>
    

    <% end %>