<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>

  <% # list reviews for product %>
  <div class='reviews-list'>
    <h4>Product Reviews</h4>
    <ul>
      <% @reviews.reverse_order.each do |review| %>
        <li class="review"><%= User.find_by(id: review.user_id).name %>: 
        
        "<%= review.description %>"
         | <strong> Rating:</strong> <%=review.rating %>/5
          <% if current_user.id == review.user_id %>
            <% # how to delete a record? https://apidock.com/rails/ActiveRecord/Relation/delete %>
            <%= 'DELETE' %>
          <% end %>
      <% end %>
    </ul>
  </div>

  <% if current_user  %>
    <% # Add a new review %>
    <h4>Submit A Review:</h4>
        <%= form_for :review, url: product_reviews_path(@product) do |f| %>
        <label> Rating:</label>
        <%=f.select :rating, [1,2,3,4,5] %>
        </br>
        <label> Description:</label>
        <%=f.text_area :description, :input_html => {:rows => 10} %>
        </br>
        
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        
        <%=f.submit "Create Review" %>
    <% end %>
  <% end %>
</section>
